@model Domain.Transport.Aviation.Airport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IATACode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IATACode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ICAOCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ICAOCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalName)
        </dd>
    </dl>
</div>
<div>
    <table>
        <tr>
            <td>
                    <a asp-action="Edit" class="btn btn-primary btn-block" asp-route-id="@Model?.Id">Edit</a> 

            </td>
            <td>
                    <a asp-action="Index" class="btn btn-primary btn-block">Back to List</a>

            </td>
        </tr>
    </table>
</div>
