@model IEnumerable<Traveller.Domain.Frontier>


<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontierType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Origin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontierType.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FrontierID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FrontierID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FrontierID">Delete</a>
            </td>
        </tr>
}

