@using RouteDataManager.ViewModels
@model DynamicIndexData

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Route Data Manager</h1>
</div>

 <!-- Destination Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
                <h1>Explore Top Destination</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/destinations/destinationVietnam.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                               <h5 class="text-white">@Model.CountryNames.ElementAt(0)</h5>
                            <span>@Model.DestinationCountryCount.ElementAt(0) Destinations</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/destinations/destinationLaos.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">@Model.CountryNames.ElementAt(1)</h5>
                             <span>@Model.DestinationCountryCount.ElementAt(1) Destinations</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/destinations/destinationCambodia.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                               <h5 class="text-white">@Model.CountryNames.ElementAt(2)</h5>
                              <span>@Model.DestinationCountryCount.ElementAt(2) Destinations</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/destinations/destinationMalaysia.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                               <h5 class="text-white">@Model.CountryNames.ElementAt(3)</h5>
                              <span>@Model.DestinationCountryCount.ElementAt(3) Destinations</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/destinations/destinationNepal.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                               <h5 class="text-white">@Model.CountryNames.ElementAt(4)</h5>
                             <span>@Model.DestinationCountryCount.ElementAt(4) Destinations</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="img/destinations/destinationThailand.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                               <h5 class="text-white">@Model.CountryNames.ElementAt(5)</h5>
                              <span>@Model.DestinationCountryCount.ElementAt(5) Destinations</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Destination End -->
