@using RouteDataManager.ViewModels
@model DynamicIndexData

@{
    ViewData["Title"] = "Home Page";
}

@*https://www.tripsavvy.com/traveling-during-the-monsoon-season-1458706
*@




<!-- Destination Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
            <h1>Explore Top Destination</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/destinations/destinationVietnam.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">@Model.CountryNames.ElementAt(0)</h5>
                        <span>@Model.DestinationCountryCount.ElementAt(0) Destinations</span>
                        <span>@Model.DestinationAirportsCount.ElementAt(0) Airports</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/destinations/destinationLaos.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">@Model.CountryNames.ElementAt(1)</h5>
                        <span>@Model.DestinationCountryCount.ElementAt(1) Destinations</span>
                        <span>@Model.DestinationAirportsCount.ElementAt(1) Airports</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/destinations/destinationCambodia.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">@Model.CountryNames.ElementAt(2)</h5>
                        <span>@Model.DestinationCountryCount.ElementAt(2) Destinations</span>
                        <span>@Model.DestinationAirportsCount.ElementAt(2) Airports</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/destinations/destinationMalaysia.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">@Model.CountryNames.ElementAt(3)</h5>
                        <span>@Model.DestinationCountryCount.ElementAt(3) Destinations</span>
                        <span>@Model.DestinationAirportsCount.ElementAt(3) Airports</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/destinations/destinationNepal.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">@Model.CountryNames.ElementAt(4)</h5>
                        <span>@Model.DestinationCountryCount.ElementAt(4) Destinations</span>
                        <span>@Model.DestinationAirportsCount.ElementAt(4) Airports</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/destinations/destinationThailand.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">@Model.CountryNames.ElementAt(5)</h5>
                        <span>@Model.DestinationCountryCount.ElementAt(5) Destinations</span>
                        <span>@Model.DestinationAirportsCount.ElementAt(5) Airports</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destination End -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our purpose</h6>
           
            <p>
                Asia is affected by different monsoon patterns at different times. For instance, while the islands in Thailand are getting plenty of rain in July, Bali is at the peak of dry season. If your itinerary is flexible, you can escape the ever-changing weather by grabbing an inexpensive regional flight.
                The ideal time to enjoy popular destinations is during the shoulder seasons, the month before and the month after monsoon season. During these times, there will be fewer tourists but still plenty of sunshine to enjoy!
                Arriving at the very beginning of the monsoon season is less ideal because seasonal businesses will have plenty of cash saved up following the high season. The employees are often ready for a break and can be less helpful after an exhausting season. You’ll still have to deal with increased rain but won’t enjoy the same potential for discounts.
                Arriving in the middle or at the end of the low season is more ideal. Although there is an increased chance for bad weather, business are more willing to work with you. The start of monsoon season often gets delayed by weeks or even a month or two.
            </p>
            
        </div>
    </div>
</div>