@model Traveller.Application.Dto.VisaDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extensible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extensible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtensionDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtensionDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtensionFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtensionFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalDaysFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalDaysFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualifyNationalities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualifyNationalities)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
