@using RouteDataManager.ViewModels
@model ItineraryByMonthIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="Reload" asp-action="Reload">

    <form asp-action="Index">

        <div class="form-group">
            <table class="table">
                <thead>

                    <tr>

                        <th>
                            <label class="control-label">Month</label>
                            <select asp-for="@Model.FilterStartMonth.MonthID" class="form-control" asp-items="@Model.SelectListStartMonth"></select>
                        </th>

                        <th>
                            <label class="control-label">Month</label>
                            <select asp-for="@Model.FilterEndMonth.MonthID" class="form-control" asp-items="@Model.SelectListEndMonth"></select>
                        </th>


                        <th>

                        </th>

                        <th>

                        </th>

                        <th>
                            <input type="submit" value="Search" class="btn btn-primary btn-block" />
                        </th>
                    </tr>

                </thead>
            </table>

        </div>
    </form>

    <div class="form-group">
        <p></p>
       
        <p>
            <label class="control-label">
                @Model.RoutesFoundCount.ToString()  Itineraries found
            </label>
        </p>

           <input id="IndexId" name="ShowingIndex" type="hidden" value=@Model.ShowingIndex  />
           <a class="carousel-control-prev"  action="Previous" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>

            <a class="carousel-control-next" action="Next" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>

        @foreach (var rule in @Model.RulesReport)
        {
            <p>@rule.ToString()</p>

        }

        <table class="table">

            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 70%;">
            </colgroup>
            <thead>

                <tr>
                    <th>
                        <label class="control-label">Month</label>
                    </th>

                    <th>
                        <label class="control-label">Country</label>
                    </th>

                    <th>
                        <label class="control-label">Report</label>
                    </th>

                </tr>

            </thead>

            <tbody>

                @if (Model.ItineraryMonths >= 0)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[0].Name</label>
                        </td>

                        <td>
                            <label class="control-label">@Model.FilterCountry1.Name</label>
                        </td>
                  
                        <td>@Model.CountryReport.ElementAt(0)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 1)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[1].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry2.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(1)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 2)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[2].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry3.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(2)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 3)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[3].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry4.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(3)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 4)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[4].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry5.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(4)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 5)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[5].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry6.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(5)</td>

                    </tr>

                }

                @if (Model.ItineraryMonths > 6)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[6].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry7.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(6)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 7)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[7].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry8.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(7)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 8)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[8].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry9.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(8)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 9)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[9].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry10.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(9)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 10)
                {
                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[10].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry11.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(10)</td>

                    </tr>
                }

                @if (Model.ItineraryMonths > 11)
                {

                    <tr>
                        <td>
                            <label class="control-label">@Model.Months[11].Name</label>
                        </td>
                        <td>
                            <label class="control-label">@Model.FilterCountry12.Name</label>
                        </td>
                        <td>@Model.CountryReport.ElementAt(11)</td>

                    </tr>

                }

            </tbody>
        </table>
    </div>

</form>



@*<form id="Save" asp-action="Save">

    <div class="form-group">
        <p></p>
        <th>
            <input type="submit" value="Save" class="btn btn-primary btn-block" />
        </th>
        <p></p>
</form>*@