@using RouteDataManager.ViewModels.Country;
@using Traveller.Application.Dto;
@using Application.Dto;

@model IEnumerable<CountryDto>;

@{
    ViewData["Title"] = "Index"; //Lo solicita en el prompt de creación
}

<h1>Showing all countries</h1>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Add New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            string selectedRow = "";
            if (item.Id == ViewBag.CountryId)
            {
                selectedRow = "success";
            }

            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>


                <td> <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@item.Id">Edit</a> </td>
                <td> <a class="btn btn-primary btn-block" asp-action="Details" asp-route-id="@item.Id">Details</a> </td>
                <td> <a class="btn btn-primary btn-block" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>

            </tr>
        }

    </tbody>

</table>
