@model RouteDataManager.ViewModels.BorderCrossingsIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index">

    <div class="form-group">
        <table class="table">
            <thead>

                <tr>
                    <th>
                        <label class="control-label">Country</label>
                        <select asp-for="@Model.FilterCountryOrigin.CountryID" class="form-control" asp-items="@Model.SelectListCountriesOrigin"></select>
                    </th>

                    <th>
                        <label class="control-label">Country</label>
                        <select asp-for="@Model.FilterCountryFinal.CountryID" class="form-control" asp-items="@Model.SelectListCountriesFinal"></select>
                    </th>
                    <th>
                        <label class="control-label">Border Crossing Type</label>
                        <select asp-for="@Model.FilterBorderCrossingType.BorderCrossingTypeID" class="form-control" asp-items="@Model.SelectListBorderCrossingTypes"></select>
                    </th>

                    <th>

                    </th>

                    <th>
                        <input type="submit" value="Search" class="btn btn-primary btn-block" />
                    </th>
                </tr>

            </thead>
        </table>

    </div>


    <p>
        <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Add New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Border Crossing Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BorderCrossings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationOrigin.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationFinal.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BorderCrossingType.Description)
                    </td>

                    <td>   <a asp-action="Edit" class="btn btn-primary btn-block" asp-route-id="@item.BorderCrossingID">Edit</a></td>
                    <td>   <a asp-action="Details" class="btn btn-primary btn-block" asp-route-id="@item.BorderCrossingID">Details</a> </td>
                    <td>   <a asp-action="Delete" class="btn btn-primary btn-block" asp-route-id="@item.BorderCrossingID">Delete</a> </td>


                </tr>
            }
        </tbody>
    </table>

</form>


