@model Traveller.Domain.Destination

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Destination Details</h4>
<hr />
<div>
    
    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Destination Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationTypes.Select(x=>x.Description))
        </dd>
    </dl>
</div>
<div>
    <table>
        <tr>
            <td>
                    <a asp-action="Edit" class="btn btn-primary btn-block" asp-route-id="@Model?.DestinationID">Edit</a> 

            </td>
            <td>
                    <a asp-action="Index" class="btn btn-primary btn-block">Back to List</a>

            </td>
        </tr>
    </table>
</div>
