@model RouteDataManager.ViewModels.DestinationIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Index">

            <div class="form-group">
                <table class="table">
                 <thead>

                <tr>
                    <th>
                         <label class="control-label">Country</label>
                        <select asp-for="@Model.FilterCountry.CountryID" class ="form-control" asp-items="@Model.SelectListCountries"></select>
                    </th>

                    <th>
                        <label class="control-label">Destination Type</label>
                        <select asp-for="@Model.FilterDestinationType.DestinationTypeID" class ="form-control" asp-items="@Model.SelectListDestinationTypes"></select>
                    </th>
                    

                    <th>
                      
                    </th>

                     <th>
                      
                    </th>
                    
                    <th>
                            <input type="submit" value="Search" class="btn btn-primary btn-block" />
                    </th>
                </tr>

                </thead>
                </table>

            </div>
</form>

<p>
     <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i>Add New</a>
</p>

<table class="table">
    <thead>
        <tr>         
            <th>
               Name
            </th>
            <th>
               Description
            </th>
            @*<th>
               Destination Type
            </th>*@
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Destinations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           @* <td>
                  @Html.DisplayFor(model => model.DestinationTypes.Select(x=>x.Description))
            </td>*@
             
            <td>    <a asp-action="Edit"  class="btn btn-primary btn-block" asp-route-id="@item.DestinationID">Edit</a></td>
             <td>   <a asp-action="Details" class="btn btn-primary btn-block" asp-route-id="@item.DestinationID">Details</a> </td>
             <td>   <a asp-action="Delete" class="btn btn-primary btn-block" asp-route-id="@item.DestinationID">Delete</a> </td>
        </tr>
}
    </tbody>
</table>
