@using RouteDataManager.ViewModels;
@model RouteDataManager.ViewModels.DestinationIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Results", "Destinations", new DestinationIndexViewModel { FilterCountry = @Model.FilterCountry }, FormMethod.Post))
{
    <div class="form-group">
        <table class="table">

            <thead>
                <tr>
                    <th>
                        <label class="control-label">Country</label>
                        <select asp-for="@Model.FilterCountry.Id" class="form-control" asp-items="@Model.SelectListCountries"></select>
                    </th>

                    <th>
                        <label class="control-label">Destination Type</label>
                        <select asp-for="@Model.FilterDestinationType.Id" class="form-control" asp-items="@Model.SelectListDestinationTypes"></select>
                    </th>

                    <th>

                    </th>

                    <th>

                    </th>

                    <th>
                        <input type="submit" class="btn btn-primary btn-block" value="Search"/>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i>Add New</a>
</p>

<table class="table">

    <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 46%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 8%;">
        <col span="1" style="width: 8%;">
        <col span="1" style="width: 8%;">
    </colgroup>
    <thead>
        <tr>
            <th>
                Name
            </th>

            <th>
                Description
            </th>

            <th>
                Photo
            </th>

            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Destinations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@DestinationFileLocation.RetriveFileFromFolder@item.Picture" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                    </a>
                </td>

                <td>   <a asp-action="Edit" class="btn btn-primary btn-block" asp-route-id="@item.Id">Edit</a></td>
                <td>   <a asp-action="Details" class="btn btn-primary btn-block" asp-route-id="@item.Id">Details</a> </td>
                <td>   <a asp-action="Delete" class="btn btn-primary btn-block" asp-route-id="@item.Id">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>
